.all {
    position: relative;
}
.slider{
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.slides article {
    width: 20%;
    float: left;
}
.slides .image {
    width: 500%;
    height: auto;
    line-height: 0;
}
.overflow {
    width: 100%;
    overflow: hidden;
}
.slider img {
    width: 100%;
}
.art img {
    width: 100%;
}
.desktop:checked ~.slider{
    max-width: 100%;
    position: relative;
}
.switch1:checked ~ .controls label:nth-child(5), 
.switch2:checked ~ .controls label:nth-child(1),
.switch3:checked ~ .controls label:nth-child(2),
.switch4:checked ~ .controls label:nth-child(3),
.switch5:checked ~ .controls label:nth-child(4){
    background: url('images/prev.png') no-repeat;
    float: left;
	display: block;
	height: 68px;
    width: 68px;
    left: 5em;
}
.switch1:checked ~ .controls label:nth-child(2), 
.switch2:checked ~ .controls label:nth-child(3),
.switch3:checked ~ .controls label:nth-child(4),
.switch4:checked ~ .controls label:nth-child(5),
.switch5:checked ~ .controls label:nth-child(1){
    background: url('images/next.png') no-repeat;
    float: right;
	display: block;
	height: 68px;
    width: 68px;
    right: 5em;
}
label{
	cursor: pointer;
}
.all input{ 
	display: none;
}
.switch1:checked ~ .slides .image{
	margin-left: 0;
}
.switch2:checked ~ .slides .image{
	margin-left: -100%;
}

.switch3:checked ~ .slides .image{
	margin-left: -200%;
}

.switch4:checked ~ .slides .image{
	margin-left: -300%;
}

.switch5:checked ~ .slides .image{
	margin-left: -400%;
}
.controls {
    position: absolute;
    width: 100%;
    top: 50%;
}
.container {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 5em;
    width: 68%;
    top: 0;
    left: 16%;
    color:  rgba(184, 220, 245, 0.9);
}
menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    
}
.first-menu {
    display: inline-block;
    width: 23%;
    margin-left: 1%;
    text-align: center;
    cursor: pointer;
}
.prog {
    /* margin-left: 2%; */
}
.first-menu ul {
    position: absolute;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    padding: 1%;

    width:23%;
    margin: 0;
}
.first-menu li {
    font-size: 1.5em;
    height: 2em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(184, 220, 245, 0.6);
    padding: 1%;
    
}
.prog ul { 
    left: 25%;
    top: 100%;
}
.prog:hover ul{
    display: inline-block;
    cursor: pointer;
}
.mang ul { 
    left: 50%;
    top: 100%;
}
.mang:hover ul{
    display: inline-block;
    cursor: pointer;
}

/* manager search form*/

.serch {
    background-image: url(images/coworking.jpg);
    height: 45em;
    width: 100%;
    position: relative;
    object-fit: cover;

}
.layer {
    width: 100%;
    height: 45em;
    background: rgba(30, 60, 80, 0.5);
    position: absolute;
}
.serch form {
    height: 70%;
    width: 70%;
    margin: 30% auto;
    display: block;

}
.search-field {
    height: 10%;
    width: 45%;
}