.all {
    position: relative;
}

/* slider style */
.slider{
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.slides article {
    width: 20%;
    float: left;
}
.slides .image {
    width: 500%;
    height: auto;
    line-height: 0;
}
.overflow {
    width: 100%;
    overflow: hidden;
}
.slider img {
    width: 100%;
}
.art img {
    width: 100%;
}
.desktop:checked ~.slider{
    max-width: 100%;
    position: relative;
}
.switch1:checked ~ .controls label:nth-child(5), 
.switch2:checked ~ .controls label:nth-child(1),
.switch3:checked ~ .controls label:nth-child(2),
.switch4:checked ~ .controls label:nth-child(3),
.switch5:checked ~ .controls label:nth-child(4){
    background: url('/assets/images/prev.png') no-repeat;
    float: left;
	display: block;
	height: 68px;
    width: 68px;
    left: 5em;
}
.switch1:checked ~ .controls label:nth-child(2), 
.switch2:checked ~ .controls label:nth-child(3),
.switch3:checked ~ .controls label:nth-child(4),
.switch4:checked ~ .controls label:nth-child(5),
.switch5:checked ~ .controls label:nth-child(1){
    background: url('/assets/images/next.png') no-repeat;
    float: right;
	display: block;
	height: 68px;
    width: 68px;
    right: 5em;
}
label{
	cursor: pointer;
}
.all input{ 
	display: none;
}
.switch1:checked ~ .slides .image{
	margin-left: 0;
}
.switch2:checked ~ .slides .image{
	margin-left: -100%;
}

.switch3:checked ~ .slides .image{
	margin-left: -200%;
}

.switch4:checked ~ .slides .image{
	margin-left: -300%;
}

.switch5:checked ~ .slides .image{
	margin-left: -400%;
}
.controls {
    position: absolute;
    width: 100%;
    top: 50%;
}

/* menu style */
header h2 {
    color:  rgba(194, 197, 199, 0.9);
}
.container {

    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 4em;
    width: 68%;
    top: 0;
    left: 16%;
    color:  rgba(194, 197, 199, 0.9);
}
menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 100%;
    
}
.first-menu {
    display: inline-block;
    width: 23%;
    margin-left: 1%;
    text-align: center;
    cursor: pointer;
}

.first-menu ul {
    position: absolute;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    padding: 1%;

    width:23%;
    margin: 0;
}
.first-menu li {
    font-size: 1.5em;
    height: 2em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(184, 220, 245, 0.6);
    padding: 1%;
    
}
.prog ul { 
    left: 25%;
    top: 100%;
}
.prog:hover ul{
    display: inline-block;
    cursor: pointer;
}
.mang ul { 
    left: 50%;
    top: 100%;
}
.mang:hover ul{
    display: inline-block;
    cursor: pointer;
}
.ul-seen:hover li{
    display: inline-block;
    cursor: pointer;
}

/* manager search form*/
.manager-search {
    background-image: url('/assets/images/coworking-bg.jpg');
    height: 45em;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .manager-search:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6; 
} */

.height-manager-form {
    height: 45em;
}
.layer {
    width: 100%;
    background: rgba(15, 19, 22, 0.6);
    position: absolute;
}
.manager-search form {
    margin: auto;
    width: 70%;
    /* height: 200px; */
    /* width: 70%; */
    /* margin: 30% auto; */
}
.search-field {
    color: #333;
    outline: none;
    padding: 5px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    width: 35%;
}

.search-field::placeholder {
    color: #999;
    opacity: 0.8;
}

/* contacts styles */

.contact-header {
    height: 100px;
    background:rgba(202, 202, 202, 0.705);
}

/* programmer create styles */

.programmer-header .container {
    background: rgba(0, 0, 0, 0.7);
}