@import "header.css" screen;
@import "footer.css" screen;
@import "media.css" screen;

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica,  Arial, sans-serif;
    font-weight: 300;
}

/* link styles */
a:link {
    text-decoration: none;
    color:  rgba(184, 220, 245, 0.9);
    
}
a:visited{
    text-decoration: none;
    color:  rgba(184, 220, 245, 0.9);
}
a:hover {
    text-decoration: none;
    color:  rgba(184, 220, 245, 0.9);
}
a:active {
    text-decoration: none;
    color:  rgba(184, 220, 245, 0.9);
}

.shadow {
    -webkit-box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
    box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
}
/* .content {
    min-height: 100%;
}
.cont-inside{
    padding: 2%;
    padding-bottom: 25%;
} */

/* main styles  */
.wrap-all-content{
    display: flex;
    flex-direction: column;
}
main {
    background:rgba(202, 202, 202, 0.705);
    color: rgba(62, 62, 63, 0.856);
}


/* main page advertismevt text style */
.ad{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.ad h2{
    text-align: center;
    margin-top: 0;
    
    font-size: 2em;
}
.ad p{
    margin-bottom: 0;
    font-size: 1.5em;
}

/* main page gallery style */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1%;
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding: 1%;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item {
    margin: 0;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
/* .gallery__item--1:hover {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
    width: 100%;
    height: 600px;
    position: absolute;
} */
/* .gallery__item--1:hover ~ .gallery__item {
    display: none;
} */
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery__item--2:hover {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
    width: 50%;
    height: 600px;
    position: absolute;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}
.gallery__item--4 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 8;
}

/* profile page styles  */
#profile {
    background: white;
    display: block;
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
}


@media screen and (max-width: 1200px) {
    #profile {
        width: 90%;
    }
}

#profile h1 {
    display: inline-block;
    vertical-align: top;
    padding-right: 22px;
    line-height: 200px;
    padding-left: 30px;
}

.profile__person-picture {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile__person-picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile__table {
    border-collapse: collapse;
}

.profile__table td {
    padding: 20px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

/* manager page styles */

main .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user {
    height: 30%;
    width: 40%;
    font-size: 120%;
    margin: 1% auto;
    padding: 1%;
    border: 1px solid;
    background: rgba(160, 209, 241, 0.6);
}

.person-short-view {
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: white;
    width: 50%;
    height: 150px;
    -webkit-box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
    box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
    overflow: hidden;
    display: flex;
}

.person-short-view:hover {
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s;
}

.person-short-view .description {
    padding: 10px;
}

.person-short-view .skill {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 4px;
    background: #e38d81;
    color: white;
}

.person-short-view .skill:hover {
    background: #e36655;
    color: white;
}

.profile-picture {
    height: 100%;
    width: 200px;
}

.profile-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search-results {
    background: #eee;
    padding: 20px 0;
}

.manager-search-button {
    border-radius: 2px;
    outline: none;
    padding: 11px 51px;
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    background-color: #069;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
    vertical-align: top;
}

.manager-search-button:hover {
    background-color: #6CF;
}

@media screen and (max-width: 1200px) {
    .person-short-view {
        width: 90%;
    }

    .search-field {
        width: 100%;
        display: block;
        margin: 10px auto;
    }
}

/* contacts */

.contacts-main h2 {
    text-align: center;
}
.contact-wrap {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    
}
.contacts {
    width: 45%;
    margin: 1%;
    
}
.map {
    background-image: url('/assets/images/map-placeholder.jpg');
    background-size: 100% auto;
    height: 500px;
    -webkit-box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
    box-shadow: 16px 19px 53px -29px rgba(0,0,0,0.75);
}

.map iframe {
    height: 100%;
    width: 100%;
}

.contact-block {
    padding: 1%;
}
.contacts-main h3 {
    text-align: center;
}
.contacts-main h3 ~p {
    text-align: center;
}

/* programmer create styles */

.programmer-create {
    background-image: url("/assets/images/cowork.jpg");
    width: 100%;
    height: 900px;
    position: relative;
    display: flex;
}
/* .height-programmer-form {
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/* .programmer-create-form-container {
    display: flex;
    width: 100%;
    height: 700px;
} */
.programmer-create-form {
    margin: auto;
    height: 700px;
    width: 70%;
    background: rgba(0, 0, 0, 0.5);
}

/* .input-container p, input{
    display: inline-block;
}

.input-container p {
    color:  rgba(194, 197, 199, 0.9);
} */
.form-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
}
.input-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.p-container {
    color:  rgba(194, 197, 199, 0.9);
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 22px;
}
.input-container input {
    display: block;
    height: 55px;
    width: 90%;
    font-size: 20px;
    padding: 1%;
    

}
