@import "header.css" screen;
@import "footer.css" screen;
@import "media.css" screen;

html, body {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    text-decoration: none;
    color:  rgba(184, 220, 245, 0.9);

}
a:visited{
    text-decoration: none;
    color:  rgba(184, 220, 245, 0.9);
}
a:hover {
    text-decoration: none;
    color:  rgba(184, 220, 245, 0.9);
}
a:active {
    text-decoration: none;
    color:  rgba(184, 220, 245, 0.9);
}
.content {
    min-height: 100%;
}
.cont-inside{
    padding: 2%;
    padding-bottom: 25%;
}
main {
    background:rgba(188, 222, 245, 0.6);
    color: rgba(39, 60, 73, 0.9);
}
/* .ad h2, p{
    margin: 0;
} */
.ad{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.ad h2{
    text-align: center;
    margin-top: 0;
    
    font-size: 2em;
}
.ad p{
    margin-bottom: 0;
    font-size: 1.5em;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1%;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item {
    margin: 0;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
/* .gallery__item--1:hover {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
    position: absolute;
} */
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}
.gallery__item--4 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 8;
}

/* manager */

main .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user {
    height: 30%;
    width: 40%;
    font-size: 120%;
    margin: 1% auto;
    padding: 1%;
    border: 1px solid;
    background: rgba(160, 209, 241, 0.6);
}

/* manager search form */
/* header {
    height: 5em;
} */
/* .serch {
    background-image: url(images/coworking.jpg);
    height: 45em;
    width: 100%;
    position: relative;
    object-fit: cover;

}
.layer {
    width: 100%;
    height: 45em;
    background: rgba(30, 60, 80, 0.5);
    position: absolute;
}
.serch form {
    height: 70%;
    width: 70%;
    margin: 30% auto;
    display: block;

}
.search-field {
    height: 10%;
    width: 45%;
} */
