<div class="all">
    <input type="radio" class="desktop" checked name="respond">
    <article class="slider">
        <input type="radio" class="switch1" name="slider" id="switch-1" checked>
        <input type="radio" class="switch2" name="slider" id="switch-2">
        <input type="radio" class="switch3" name="slider" id="switch-3">
        <input type="radio" class="switch4" name="slider" id="switch-4">
        <input type="radio" class="switch5" name="slider" id="switch-5">
        
        <div class="slides">
            <div class="overflow">
                <div class="image">
                    <article class = "art"><img src="assets/images/computer_programmer_profile_image.jpg" alt=""></article>
                    <article class = "art"><img src="assets/images/programmer-in-rich-nation.jpg" alt=""></article>
                    <article class = "art"><img src="assets/images/programmer.jpg" alt=""></article>
                    <article class = "art"><img src="assets/images/shutterstock_407112565.width-800.jpg" alt=""></article>
                    <article class = "art"><img src="assets/images/international-programmer-day.jpg" alt=""></article>
                    
                </div>
            </div>
        </div>
        <div class="controls">
            <label for="switch-1"></label>
            <label for="switch-2"></label>
            <label for="switch-3"></label>
            <label for="switch-4"></label>
            <label for="switch-5"></label>
        </div>
        <div class="active">
            <label for="switch-1"></label>
            <label for="switch-2"></label>
            <label for="switch-3"></label>
            <label for="switch-4"></label>
            <label for="switch-5"></label>
        </div>
    </article>
</div>


<main>
    <article class = "ad">
        <h2>
            Worble - сервис для эффективного сотрудничества!
        </h2>
        <p >
            Новый сервис Worble - это не очередная база резюме, где нужно заполнять бесконечные поля анкеты, где вы бесконечно долго ищете подходящего кандидата. 
            Worble создан для того, чтобы быстро и легко находить именно то, что вам нужно! Только необходимые знания. Только самые важные функции. 
            Сотни пользователей, нашедших работу. Десятки довольных работодателей. Ты еще не в Worble? 
        </p>
    </article>
    <div class="gallery">
        <figure class = "gallery__item gallery__item--1">
            <img src="assets/images/AVProgrammer-300x300.jpg" alt="" class="gallery__img">
        </figure>
        <figure class = "gallery__item gallery__item--2">
            <img src="assets/images/design-your-own-tshirt-creo-design-02-khaki-programmer-t-shirt-300x300.jpg" alt="" class="gallery__img">
        </figure>
        <figure class = "gallery__item gallery__item--3" >
            <img src="assets/images/developer-hero-sq-300x300.jpg" alt="" class="gallery__img">
        </figure>
        <figure class = "gallery__item gallery__item--4">
            <img src="assets/images/download.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class = "gallery__item gallery__item--5">
            <img src="assets/images/partners-300x300.jpg" alt="" class="gallery__img">
        </figure>
    </div>
    <article class = "ad">
        <h2>
            Как это работает? 
        </h2>
        <p>
            Если ты программист - создай анкету и отметь там свои знания. Это - все что от тебя требуется! 
            Если ты менеджер - Worble предоставляет возможность искать программистов по областям знаний и генерировать отчеты.
            Кроме того наши специалисты реализовали прозрачную систему контроля областей знаний и теперь проблема систем, предлагающих специалистов, неподходящих по профилю, решена навсегда
        </p>
    </article>
    
</main>