<div class="manager-search">
    <form class="insert-password-form manager-insert-password">
        <div>
            <span>
                Введите ваш email:
            </span>
            <input type="text" name="email" class="user-email" placeholder="Введите email">
        </div>
        <div>
            <span>Введите ваш пароль:</span>
            <input type="password" name="password" id="manager-current-user" class="user-password" placeholder="Введите пароль">
        </div>
        <button class="password-button-size manager-search-button">Готово</button>
    </form>
    
</div>