<div class="manager-search manager-report-form-size">
    
    <form class="manager-report">
        <div class="manager-info-container">
            <div class="report-data-p p-container">
                <span>Введите дату:</span>
                <span>Введите имя:</span>
                
                <span> Введите пароль:</span>
                <span>Введите e-mail:</span>
                
                <span>Введите области поиска:</span>
                <span>Введите области город:</span>
                <span>Количество пользователей, найденных по запросу:</span>
                <span>Введите количество отправленных откликов:</span>
                
                <span>Введите дополнительную информацию:</span>
                
            </div>
            <div class="report-data-input input-container">
                <input required type="text" name="date" id="programmer-date" class="date report-data" placeholder="Введите сегодняшнюю дату">
                <input required type="text" name="name" id="programmer-name" class="programmer name report-data" placeholder="Введите имя">
                
                <input type="password" name="password" id="password" placeholder="Введите пароль" class="report-data">
                <input required type="email" name="email" id="programmer-email" placeholder="Введите e-mail" class="report-data">
                
                
                <input required type="text" name="skills" id="programmer-skills" placeholder="Введите области поиска через запятую" class="report-data">   
                <input required type="text" name="city" id="programmer-city" placeholder="Введите город" class="report-data">
                <input required type="text" name="user-number" id="programmer-found" class="programmer name" placeholder="количество пользователей, найденных по запросу">
                <input required type="text" name="answer-number" id="answer-number" placeholder="Введите количество отправленных откликов" class="report-data">
                
                <input required type="text" name="resume" id="person-bio" placeholder="Дополнительная информация">                    
                    
            </div>
        </div>    
            
        <button class="manager-report-save manager-search-button"> Сохранить данные </button>
            
    </form>
        
        
</div>