<script id="template-person-short-view" type="text/x-handlebars-template">
    {{#each users}}
    <div class="entry person-short-view" data-id="{{id}}">
        <div class="profile-picture">
            <img src="{{picture}}">
        </div>
        <div class="description">
            <h2>{{name}}</h2>
            <div class="city">{{city}}</div>
            <div class="skills">
                {{#each skills}}
                <span class="skill shadow">{{this}}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</script>

<div class="manager-search">
    <form class="manager-find">
        <input type="text" class="query search-field" placeholder="Должность, навыки, ключевые слова" id="search-query" name="query" autocomplete="off">
        
        
        <input type="text" class="city search-field" placeholder="Город" id="search-city" name="city" autocomplete="off">
        
        <button class="manager-search-button shadow search-button"> 
            Искать
        </button>
    </form>
</div>
<form id="manager-sort-data">
</form>
<p class="sorting">
    <select name="num" form="manager-sort-data">
        <option disabled checked> Сортировать по: </option>
        <option value="alphabetASC">Алфавиту: с начала</option>
        <option value="alphabetDESC">Алфавиту: с конца</option>
    </select>
    <input type="submit" form="manager-sort-data" class="manager-sort-data-button" value="Сортировать">
</p>    

<div id="results" class="result search-results">
</div>

<div class="content-pagination pages" >
    
    <button class="pagination previous">Previous</button>
    <button class="pagination next">Next</button>
    
</div>
