<main class="programmer-create">
    <form class="programmer-create-form">
        <div class="form-info-container">
            <div class="p-container">
                <p>Введите имя:</p>
                <p>Введите e-mail:</p>
                <p>Введите город:</p>
                <p>Введите области знаний:</p>
                <p>Введите информацию о себе:</p>
                <p> Введите пароль:</p>
            </div>
            <div class="input-container">
                <input required type="text" name="name" id="person-name" class="person name" placeholder="Введите имя">
                <input required type="email" name="email" id="person-email" placeholder="Введите e-mail">
                <input required type="text" name="city" id="person-city" placeholder="Введите город">
                <input required type="text" name="skills" id="person-skills" placeholder="Введите области знаний через запятую">
                <input required type="text" name="bio" id="person-bio" placeholder="Дополнительная информация">
                <input type="password" name="password" id="password" placeholder="Введите пароль">
                
            </div>
        </div>                
        <button class="save manager-search-button">Сохранить данные</button>
    </form>
</main>